# Get an Alchemy API key from https://dashboard.alchemy.com/
ALCHEMY_API_KEY="zzzzzzzzzzzzzzzzzzzzz"

# hex encoded private key
# To find a private key, go to your wallet of choice and export a private key. Remember this must be kept secret at all times.
PRIVATE_KEY="0xzzzzzzzzzzzzzzzzzzzzzzzzz"